<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    

    {% block additional_styles %}
    
    {% endblock additional_styles %}
</head>
<body>
    <nav >
        <ul>
            <li><a href="#" class="logo">
                    <img src="{% static 'img/logo.jpeg' %}"alt="">
                    <span class="nav-item">GREENTEC</span>
            </a></li>
            <li><a href="#" class="home">
                <i class="fas fa-home"></i>
                <span class="nav-item">Home</span>
            </a></li>
            <li><a href="#" class="">
                <i class="fas fa-table"></i>
                <span class="nav-item">Tablas</span>
            </a></li>
            <li><a href="#">
                <i class="fas fa-chart-bar"></i>
                <span class="nav-item">Gráficas</span>
            </a></li>
            <li><a href="#">
                <i class="fas fa-plus"></i>
                <span class="nav-item">Crear</span>
            </a></li>
            <li><a href="#">
                <i class="fas fa-user"></i>
                <span class="nav-item">Perfil</span>
            </a></li>
            <li><a href="#">
                <i class="fas fa-users"></i>
                <span class="nav-item">Usuarios</span>
            </a></li>
            
            <li><a href="#" class="logout">
                <i class="fas fa-sign-out-alt"></i>
                <span class="nav-item">Exit</span>
            </a></li>
        </ul>
    </nav>
    <main >
        {% block content %}{% endblock content %}
    </main>
    
</body>
</html>
