<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styleindex.css'%}">

    {% block additional_styles %}
    <style></style>
    {% endblock additional_styles %}
</head>
<body>  
    <!--rgb(117, 184, 46)  verdelimon
    rgb(57, 59, 228) azul-->
    <header class="header">
        <div class="logo">
            <img href="{% url "index" %}" src="{% static 'img/Greentec.png' %}"alt="">
        </div>
        <nav>
            <ul class="nav-links">
                <li><a href="{% url "index" %}">¿Quiénes somos?</a></li>
                <li><a href="{% url "servicios" %}">Servicios</a></li>
                <li><a href="{% url "beneficios" %}">Beneficios</a></li>
            </ul>            
        </nav>
        <a class="btn" href="{% url "login" %}"><button>Iniciar Sesión</button></a>
        <a class="btn" href="#"><button>Registrarte</button></a>
    </header>
    <div class="parrafoben">
        <h1>Beneficios</h1>
        <br>
        <p>
            Contribución a la sustentabilidad<br>
            Facilidad de disposición<br>
            Cumplimiento normativo<br>
            Responsabilidad social<br>
            Transparencia y trazabilidad<br>
        </p>

    </div>
    <div class="imagenben">
        <img src="{% static 'img/montaña.jpg' %}" >

    </div>
    
</body>
</html>